<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="container">
         <div style="justify-content: flex-end; align-items: center; display: flex;">
            <div>
                  <p>eNotice Approved Form
                </p>
                  <h4>No.E1562874
                </h4>
            </div>
        </div>
          <h1 class="text-center">Electricity Notice of Completion
        </h1>
             <p class="text-center">This Notice must be completed and sent to the relevant network operator at the required time, as prescribed in the Electricity (Licensing) Regulations 1991.
            </p>
             <h5><b>1. Details of installation, network operator and retailer &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Alteration/Addition</b></h5>
              <h5><b></b></h5>
           
         <div class="row" style="border: 1px solid #000;">
            <div class="col-sm-6" style="border: 1px solid #000;">
                 <p>Owner/occupier</p>
                 <p>Ali Mohammadi (0432767524, thesolar365@gmail.com)</p>    
            </div>

            <div class="col-sm-3" style="border: 1px solid #000;">
                 <p>Builder/Client</p>
            </div>

            <div class="col-sm-3" style="border: 1px solid #000;">
                 <p>Meter No. (if existing) <br>
                    0520490923 <br>
                    CT Metering
                    </p>
            </div>
         </div>

         <div class="row" style="border: 1px solid #000;">
            <div class="col-sm-8" style="border: 1px solid #000;">
                <p>Address
                    25 Dunlin Gardens Bennett Springs 6063
                    </p>
            </div>

            <div class="col-sm-4" style="border: 1px solid #000;">
                <p>Address
                    25 Dunlin Gardens Bennett Springs 6063
                    </p>
            </div>
         </div>

         <div class="row" style="border: 1px solid #000;">
            <div class="col-sm-8" style="border: 1px solid #000;">
                <p>Directions to location (please provide sufficient information) METER_POSITION: Right Side
                    </p>
            </div>

            <div class="col-sm-4" style="border: 1px solid #000;">
                <p>GPS location (where remote)
                    </p>
            </div>
         </div>

         <div class="row" style="border: 1px solid #000;">
            <div class="col-sm-3" style="border: 1px solid #000;">
                <p>Network operator (name) Western Power
                    </p>
            </div>

            <div class="col-sm-3" style="border: 1px solid #000;">
                <p>Ref No.
                    </p>
            </div>

            <div class="col-sm-3" style="border: 1px solid #000;">
                <p>Electricity retailer (if new connection)
                    </p>
            </div>

            <div class="col-sm-3" style="border: 1px solid #000;">
                <p>Customer Ref No.
                    </p>
            </div>
         </div>
       </div>

       <div class="container">
        <h5><b>2. Details of completed electrical work</b></h5>
           <div class="row" style="border: 1px solid #000;">
            <div class="col-sm-4" style="border: 1px solid #000;">
                <p>Installation Type Domestic</p>
            </div>

            <div class="col-sm-4" style="border: 1px solid #000;">
                <p>Voltage Level <br>
                    Single Phase 240V
                    </p>
            </div>

            <div class="col-sm-4" style="border: 1px solid #000;">
                <p>Supply Arrangement <br>
                    Underground Network Supply
                    </p>
            </div>
           </div>

           <div class="row">
             <div class="col-sm-1" style="border: 1px solid #000;">
                <p><b>Work scope</b></p>
             </div>

             <div class="col-sm-2" style="border: 1px solid #000;">
                <p>Substations</p>
             </div>

             <div class="col-sm-2" style="border: 1px solid #000;">
                <p>Consumers mains</p>
             </div>

             <div class="col-sm-2" style="border: 1px solid #000;">
                <p>Main  switchboards</p>
             </div>

             <div class="col-sm-2" style="border: 1px solid #000;">
                <p>Distribution boards</p>
             </div>

             <div class="col-sm-2" style="border: 1px solid #000;">
                <p>Sub-mains</p>
             </div>

             <div class="col-sm-1" style="border: 1px solid #000;">
                <p>Final subcircuits</p>
             </div>
           </div>

           <div class="row">
            <div class="col-sm-1" style="border: 1px solid #000;">
               <p>No. of units
                1
                </p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
               <p>No. of points of supply (WAER s3.6)</p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
               <p>Calc. maximum demand (amps)</p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
               <p>Consumers mains size (sq mm)</p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
               <p></p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
               <p></p>
            </div>

            <div class="col-sm-1" style="border: 1px solid #000;">
               <p></p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2" style="border: 1px solid #000;">
               <p>Alternative supply? 
                (e.g. generator, PV)
                
                </p>
            </div>

            <div class="col-sm-1" style="border: 1px solid #000;">
               <p>No. 1</p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
               <p>Type PV</p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
               <p>Rating
                6.6
                </p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
               <p></p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
               <p></p>
            </div>

            <div class="col-sm-1" style="border: 1px solid #000;">
               <p></p>
            </div>
          </div>

          <div class="row" >
            <div class="col-sm-12" style="border: 1px solid #000; padding: 1.1rem;">
              <p></p>
            </div>
          </div>


          <div class="row" >
            <div class="col-sm-12" style="border: 1px solid #000;">
              <p><b> Work description:</b> <br>Install 6.6kw solar system with 5KVA inverter Alternative  <br> supply generators: <br>     PV - 6.6 <br>Alternative supply inverters:      huawei/sun600-5ktl-L0 <br> Total installed inverter capacity: 5.0 <br> <b> Comments: </b></p>
            </div>
          </div>
       </div>

       <div class="container">
        <h5><b>3. General information</b></h5>
         <div class="row">
             <div class="col-sm-5" style="border: 1px solid #000;">
                  <p>Is there any electrical work for which you are not responsible?</p>
             </div>

             <div class="col-sm-2" style="border: 1px solid #000;">
                <p>No</p>
           </div>

           <div class="col-sm-5" style="border: 1px solid #000;">
            <p></p>
       </div>
         </div>

         <div class="row">
            <div class="col-sm-5" style="border: 1px solid #000;">
                 <p>Is network operator attendance at site required?</p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
               <p>No</p>
          </div>

          <div class="col-sm-5" style="border: 1px solid #000;">
           <p></p>
      </div>
        </div>

        
       </div>

       <div class="container">
          <h5><b>4. Certification of electrical installing work</b></h5>
          <div class="row" style="border: 1px solid #000;">
            <div class="col-sm-5" style="border-right: 1px solid #000;">
                <p>a) Are you aware of any parts of the electrical installation that do not meet the  requirements of the Electricity (Licensing) Regulations 1991 or are unsafe?</p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
                <p>No</p>
            </div>

            <div class="col-sm-5" style="border: 1px solid #000;">
                <p></p>
            </div>
          </div>

          <div class="row" style="border: 1px solid #000;">
            <div class="col-sm-5">
                <p> b) Does the installation fully comply with Part 2 of the “Wiring Rules” (and therefore a ‘Part 1 solution’ has not been used)?</p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
                <p>Yes</p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
                <p></p>
            </div>
          </div>

          <div class="row" style="border: 1px solid #000;">
            <div class="col-sm-5" style="border: 1px solid #000;">
                <p>c) Has the electrical installing work subject of this Notice been connected to the electricity supply?</p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
                <p>Yes</p>
            </div>

            <div class="col-sm-5" style="border: 1px solid #000;">
                <p></p>
            </div>
          </div>

          <div class="row" style="border: 1px solid #000;">
            <div class="col-sm-5" style="border: 1px solid #000;">
                <p>d) If not connected to electricity supply, is the electrical installing work subject of this Notice safe and ready to be connected?</p>
            </div>

            <div class="col-sm-2" style="border: 1px solid #000;">
                <p></p>
            </div>

            <div class="col-sm-5" style="border: 1px solid #000;">
                <p></p>
            </div>
          </div>
       </div>


       <div class="container">
         <div class="row" style="border: 1px solid #000;">
            <div class="col-sm-12" style="border: 1px solid #000;">
                <p>e) The electrical installing work subjected to this Notice has been checked and tested and found to comply with the Electricity (Licensing) Regulations 1991, by the following electrician: <br> ALI ABBAS (EW190903) <br> Date tested: 17/05/2023</p>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-6" style="border: 1px solid #000;">
                 <p> <b>Details of Nominee</b> <br>
                    ALI ABBAS (EW190903) <br>
                    I certify that: <br>
                    i) this Notice has been duly completed; <br>
                    ii) the electrical installing work subject of this Notice has been 
                    completed; and <br>
                    iii) any such electrical installing work carried out by an electrical worker 
                    or workers complies with the Electricity (Licensing) Regulations 
                    1991.  <br>
                  <b>   Date of Work Completion: 17/05/2023 </b><br>
                  <b>  Date Lodged: 19/05/2023</b></p>
            </div>


            <div class="col-sm-6" style="border: 1px solid #000;">
                <p><b>For submission of Preliminary Notice:</b>
                    Date Lodged: 19/05/2023
                    Lodged By: Ali Abbas (EW190903AA)</p>

                    <hr style="background: #000;">
                    <p><b>Details of electrical contractor / in-house electrical installer </b><br>
                        Business Name: NHN ELECTRICAL <br>
                        Business Address: 9 BULBINE VISTA BENNETT SPRINGS WA 6063 <br>
                        Phone Number: 0402562191, 0402562191 <br>
                        Email Address: alihabbas777@gmail.com <br>
                        Facsimile Number: <br>
                        EC/IH Licence No EC13912</p>
            </div>
         </div>
       </div>
</body>
</html>